@model IEnumerable<Model.FolderMedical>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMedical.cshtml";
}

<h2>Folder Medical List</h2>

@using (Html.BeginForm())
{




    <table class="table">

        <tr>
            <td>

                <div>


                    Recherche par Nom : @Html.TextBox("filtre");

                </div>

                <div>
                    <input type="submit" value="Search" id="submit" />
                </div>

            </td>




        </tr>
    </table>



}


<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-bordered table-hover table-striped table-checkable table-highlight-head mb-4">
    <tr>
        <th>
            Creation Date
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Allergy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Particularity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Child)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Allergy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Particularity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Child.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
