@model Model.SessionVote

@{
    ViewBag.Title = "Winner";
    Layout = "~/Views/Shared/_AdminGartenLayout.cshtml";
}

<h2>Winner</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Voulez vous voir le parent winner de cette session ? </h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.DateStart)
    @Html.HiddenFor(model => model.DateEnd)
    @Html.HiddenFor(model => model.Winner)
    
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
