@model IEnumerable<Model.SubscriptionChild>

@{
    ViewBag.Title = "ListSubscriptionChild";
    Layout = "~/Views/Shared/_LayoutParent.cshtml";
}

<h2>ListSubscriptionChild</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DateC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateStart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateEnd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalPay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RestPay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Discount)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DateC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateStart)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateEnd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Total)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalPay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RestPay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Discount)
        </td>
        
        <td>
           
            @Html.ActionLink("Payer", "Index", "PayementEnLigneSubscriptionChild", new { id = item.Id , total = item.Total }, null) 

        </td>
    </tr>
}

</table>
