@model IEnumerable<Model.Event>

@{
    ViewBag.Title = "EventForChild";
    Layout = "~/Views/Shared/_AdminGartenLayout.cshtml";
}

<h2>EventForChild</h2>
<p>
    @Html.ActionLink("Event Today", "GetEventToday")
</p>
@using (Html.BeginForm())
{
    <table>
        <tr>
            <td>
                <div class="input-group">
                    @Html.TextBox("price", null, new { @class = "form-control input-sm pull-right", Style = "width: 150px;", placeholder = "Search By Price" })

                </div>
            </td>
            <td>
                <div class="input-group-btn">
                    <button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
                </div>
            </td>
        </tr>
    </table>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Object)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NParticipate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Object)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NParticipate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>

                @Html.ActionLink("Details", "Details", new { id = item.Id })

            </td>
        </tr>
    }

</table>
