@model Model.SubscriptionChild

@{
	ViewBag.Title = "Details";
	Layout = "~/Views/Shared/_LayoutParent.cshtml";
}

<h2>Details</h2>

<div>
    <h4>SubscriptionChild</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DateC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateStart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateStart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateEnd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateEnd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalPay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalPay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RestPay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RestPay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Discount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Discount)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
