@model IEnumerable<Model.Estimate>

@{
    ViewBag.Title = "EstimateFilter";
    Layout = "~/Views/Shared/_LayoutProvider.cshtml";
}

<h2>EstimateFilter</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Item)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Qte)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Item)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Qte)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Total)
        </td>

    </tr>
}

</table>
