@model Model.VoteForm

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutParent.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Vote</h4>
    <hr />
    <h3>Are you sure you want to vote to this parent?</h3>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Voter)
    @Html.HiddenFor(model => model.VotedFor)

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Yes" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "IndexParent")
</div>
