@model IEnumerable<Model.PayementSubscription>

@{
    ViewBag.Title = "Details payement subscription child";
    Layout = "~/Views/Shared/_AccountingLayout.cshtml";
}

<h2>Details payement</h2>

<p>
    <a href=@ViewBag.Lien class="btn  btn-success">Details[PDF]</a>
</p>




<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DateC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CheckNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCheck)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TypePayement)
        </th>
        <th>
            User
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.DateC)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Price)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CheckNumber)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DateCheck)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TypePayement)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.User.FirstName)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.Id })
        @*@  @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
    </td>
</tr>
    }

</table>
