@model IEnumerable<Model.PayementSubscription>

@{




    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AccountingLayout.cshtml";

}

<h2>List of payement</h2>

<p>
    @Html.ActionLink("Create New Payement", "GetListSubscription")
</p>
<table class="table table-bordered table-hover table-striped table-checkable table-highlight-head mb-4">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DateC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CheckNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCheck)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCheck)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                @** @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.Id }) *@
            </td>
        </tr>
    }

</table>
