@model IEnumerable<Model.Claim>

@{
    ViewBag.Title = "Claims";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<aside class="right-side">
    <!-- Content Header (Page header) -->
    <section class="content-header">

        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index","Admin")"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Claims</li>
        </ol>
    </section>
</aside>


<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header flex flex-column">
                <h3 class="box-title">List of claims</h3>
                <br />
                <br />
                <br />
                <div class="pull-left">
                    <label>
                        @Html.DropDownList("Type", new List<SelectListItem>
{
    new SelectListItem{ Text="cleanliness", Value = "1" },
    new SelectListItem{ Text="education", Value = "2" }

 })
                        Sort By Type
                    </label>
                </div>

                <div class="box-tools">
                    @using (Html.BeginForm())
                    {
                        <div class="input-group">
                            @Html.TextBox("searchbyparent", null, new { @class = "form-control input-sm pull-right", Style = "width: 150px;", placeholder = "Search By Parent" })
                            <div class="input-group-btn">
                                <button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    }
                </div>
            </div><!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
                <table class="table table-hover">
                    <tbody>
                        <tr>


                            <th>
                                @Html.DisplayNameFor(model => model.Objet)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Description)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Type)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.State)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.Parent)
                            </th>
                        </tr>
                        @foreach (var item in Model)
                        {
                            <tr>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Objet)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Type)
                                </td>

                                @if (item.State.Equals("InProgress"))
                                {
                                    <td>
                                        <span class="label label-warning">In Progress</span>
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        <span class="label label-success">Closing</span>
                                    </td>
                                }
                                <td>    
                                    @Html.DisplayFor(modelItem => item.Parent.FirstName)
                                </td>
                                <td>

                                    @Html.ActionLink("Details", "DetailsClaim", new { id = item.Id })

                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div>
</div>






