@model Model.Claim

@{
    ViewBag.Title = "DetailsClaim";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="content-header">
    <h1>
        Details Claim
        <small>#@Html.DisplayFor(model => model.Id) </small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index","Admin")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="@Url.Action("Claims","Admin")">Claims</a></li>
        <li class="active">Details</li>
    </ol>
</section>

<section class="content invoice">
    <!-- title row -->
    <div class="row">
        <div class="col-xs-12">
            <h2 class="page-header">
                <i class="fa fa-calendar"></i> Creation Date :
                <small class="pull-right">  @Html.DisplayFor(model => model.Creation_date)</small>
            </h2>
        </div><!-- /.col -->
    </div>

    <!-- info row -->
    <div class="row invoice-info">
        <div class="col-sm-4 invoice-col">

            <b> @Html.DisplayNameFor(model => model.Objet)</b>

            <address>
                <strong>  @Html.DisplayNameFor(model => model.Description)</strong><br>
                <strong>@Html.DisplayNameFor(model => model.Type)</strong> <br>
                <strong>@Html.DisplayNameFor(model => model.State)</strong><br>
                <strong> @Html.DisplayNameFor(model => model.Parent)</strong><br>


            </address>
        </div><!-- /.col -->
        <div class="col-sm-4 invoice-col">

            @Html.DisplayFor(model => model.Objet)

            <address>
                @Html.DisplayFor(model => model.Description)<br>
                @Html.DisplayFor(model => model.Type)<br>
                @Html.DisplayFor(model => model.State)<br>
                @Html.DisplayFor(model => model.Parent.FirstName) @Html.DisplayFor(model => model.Parent.LastName)<br>
                <strong>Email :</strong> @Html.DisplayFor(model => model.Parent.Email)<br />
                <strong>Phone Number :</strong> @Html.DisplayFor(model => model.Parent.Tel)<br><br>


                @using (Html.BeginForm("ChangeState", "Admin"))
                {
                    <input type="hidden" name="idclaim" value="@Model.Id" />
                    <input type="submit" class="btn btn-success btn-sm" value="Change State"
                           @{ if (Model.State.Equals("closing")) { @: disabled="disabled"
                           } } />
                }
            </address>
        </div>

    </div>
   

    <div class="row no-print">

        <div class="col-xs-12">
            @Html.ActionLink("Generate PDF", "PrintPartialViewToPdf", "Admin", new { id = Model.Id }, new { Style = "margin-right: 5px;", @class = "btn btn-primary pull-right" })
    </div>

</section>




